In [ ]:
class Dog:
  def dogName(self,name):
        self.name=name
  def dogAge(self,age):      
        self.age=age
  def intro(self):
    print("name of dog is",self.name," age is ",self.age)

In [ ]:
h=Dog()

In [ ]:
h.dogName("TOM")
h.dogAge("5")

In [ ]:
h.intro()

name of dog is TOM  age is  5

In [ ]:
class DBDA:
  def stuName(self):
      self.name=input("Enter name")       
  def stuAge(self):
      self.age=input("Enter age") 
  def stuGender(self):
      self.gender=input("Enter gender")
  def intro(self):
    print("My name is",self.name," age is",self.age," and gender is",self.gender)

In [ ]:
d=DBDA()

In [ ]:
d.stuName()

Enter nameRam

In [ ]:
d.stuAge()

Enter age25

In [ ]:
d.stuGender()

Enter genderMale

In [ ]:
d.intro()

My name is Ram  age is 25  and gender is Male

In [2]:
class Lab:
  def __init__(self,absent):
    self.absent=absent      #instance variable
    print("New instance is created")
  def countabsent(self,n):
    count=self.absent+n   
    print("Ram is absent")
    print(count)

absentee=Lab(5)
absentee.countabsent(10)

New instance is created
Ram is absent
15

In [ ]:
class Car:
  def carName(self,name):
    self.name=name
  def carMileage(self,mileage):
    self.mileage=mileage
  def carSpeed(self,speed):
     self.speed=speed
  def intro(self):
     print("The name of car is",self.name," and mileage is",self.mileage," speed of car ",self.speed)

In [ ]:
c=Car()

In [ ]:
c.carName("SUMO")
c.carMileage("18")
c.carSpeed("100")

In [ ]:
c.intro()

The name of car is SUMO  and mileage is 18  speed of car  100

In [ ]:
class Car:
  def __init__(self,name,mileage,speed):
    self.name=name
    self.mileage=mileage
    self.speed=speed

  def intro(self):
     print("The name of car is",self.name," and mileage is",self.mileage," speed of car ",self.speed)

In [ ]:
e1 = Car("swift",10,120)

In [ ]:
e1.intro()

The name of car is swift  and mileage is 10  speed of car  120

In [1]:
# inheritance
class Student():
  population=0
  def __init__(self,data):
    self.data=data
    Student.population+=1
    print("Roll Number is : ")

In [ ]:
s=Student()

TypeError: ignored