In [ ]:
#Write a Python program to count the number of characters (character frequency) in a string. 
#Sample String : google.com'
#Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

s="google.com"
print(s.split())
dict={}
for i in s:
  n=s.count(i)  #letter count
  dict[i]=n
print(dict)

['google.com']
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
s=input("enter  ")
if s[:2]== "Is":
  print("string unchange")
else:
  print("Is" + s)

enter  asdf
Isasdf

In [ ]:
for i in range(5,0,-1):
    print("X"*i)

XXXXX
XXXX
XXX
XX
X

In [ ]:
#############   count vowels ####
count=0
line=input("Enter a line to test:")
line=line.lower()
for element in line:
    if element=='a' or element=='e' or element=='i' or element=='o' or element=='u':
        count+=1
print("Total vowels are:",count)

Enter a line to test:dertdyurthrgdf
Total vowels are: 2

In [ ]:
s=input("Enter the string : ")
if len(s)>2:
  print(s[:2]+s[-2:])
elif len(s)==2:
  print(s*2)
else:
  print("Empty string")

Enter the string : ghfjhkuj
ghuj

In [ ]:
s=input("Enter the string : ")
if s[-3:]=="ing":
    print(s+"ly")
elif len(s)>2:
    print(s+"ing") 
else:
    print(s)

Enter the string : string
stringly

In [ ]:
s=input("enter the string : ")
a=s.split()

In [ ]:
s=input("enter the string : ")
for i in range(0,len(s),2):
  print(s[i],end='')

In [ ]:
#25 ..function
def is_group_member(group_data, n):
 for i in group_data:
   if n == i:
     return True
 return False
print(is_group_member([1, 5, 8, 3], 3))

True

In [ ]:
#35. Write a Python program that will return true if the two given integer values are 
#equal or their sum or difference is 5.
def test_number(x, y):
 if x == y or abs(x-y) == 5 or (x+y) == 5:
    print("True")
 else:
    print("False")
(test_number(7, 2))
(test_number(3, 4))

True
False

In [ ]:
def vowel(data):
  for i in data:
    if (i=="a" or "e" or "i" or "o" or "u"):
      print("vowel")
    else:
      print("not vowel")

In [ ]:
vowel("a")

vowel

In [ ]:
vowel("z")

vowel

In [ ]:
from math import pi
a=int(input("enter the radius :"))
print("area of circle =",pi*a**2)

enter the radius :4
area of circle = 50.26548245743669

In [ ]:
a=input("enter name 1 :")
b=input("ener name 2 : ")
print( b ,  a )

enter name 1 :aaaaaa
ener name 2 : bbbbb
bbbbb aaaaaa

In [ ]:
a=input("enter name 1 :")     
b=input("ener name 2 : ")
print( b[::-1] ,  a[::-1] )

enter name 1 :hello world
ener name 2 : byeeee
eeeeyb dlrow olleh

In [ ]:
n=int(input("number "))
if n <= 17:
  print(17-n)
else:
  print((n-17)*2)

number 22
10

In [ ]:
a=input("enter ")
count=0
for i in a:
  if i=="4":
    count=count+1
print(count)

enter 1,4,2,4,4,4,4
5

In [ ]:
def group(data,n):
  for i in data:
    if i==n:
      print("TRUE")
  print("FALSE")

In [ ]:
group([1,2,3,4,5],8)

FALSE

In [ ]:
b=int(input("enter b"))
h=int(input("enter h"))
area=(b*h)/2
print(area)

enter b12
enter h15
90.0

In [ ]:
def number(x,y):
  if x==y or abs(x-y)== 5 or (x+y)== 5:
    print("TRUE")
  else:
    print("false")

In [ ]:
number(3,2)

TRUE

In [ ]:
number(7,4)

false

In [ ]:
def details():
  name="ram"
  age="25"
  address="mumbai"
  print("name :",name)
  print("age  :",age)
  print("address  :",address)

In [ ]:
details()

name : ram
age  : 25
address  : mumbai