In [7]:
for i in range (1,5):
    for j in range( 1, i+1, 1):
        print (j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4

In [9]:
n=int(input("enter number"))
for i in range (1,n):
    for j in range (1,i+1,1):
        print(j,end=" ")
    print(" ")

enter number6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
for i in range (5,0,-1):
    for j in range (1,i+1,1):
        print(j,end=" ")
    print(" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [24]:
for i in range (1,6):
    for j in range(1,i+1,1):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [28]:
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print(j,end=" ")
    print("")
for i in range(4,0,-1):
    for j in range(1,i+1,1):
        print(j,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [31]:
for i in range(5,0,-1):
    for j in range(1,i+1,1):
        print(j,end=" ")
    print(" ")
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print(j,end=" ")
    print(" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [54]:
for i in range (5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print("")

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [63]:
for i in range (1,6,1):
    for j in range():
        print(i,end=" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [80]:
for i in range (1,6,1):
        print(" "*(5-i),end=" ")
        for j in range (1,i+1,1):
            print(j,end=" ")
        print("")

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [81]:
for i in range (5,0,-1):
    print(" "*(5-i),end=" ")
    for j in range (1,i+1,1):
        print(j,end=" ")
    print("")

 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [39]:
for i in range(0,6,1):
    for j in range(5-i,0,-1):
        print(j,end=" ")
    print("")
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [153]:
for i in range (5,0,-1):
    for j in range (1,i+1,1):
        print(j,end=" ")
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [157]:
for i in range (1,6,1):
    for j in range (i+1):
        print(j,end=" ")
    print(" ")

0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [185]:
for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print(" ")

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [187]:
for i in range(1,6):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print(" ")

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [195]:
for i in range (5,0,-1):
    for j in range(1,i+1,1):
         print(j,end=" ")
    print(" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [217]:

#10 pattern
k=1
for i in range(1,6,):
    for j in range(1,i+1,1):
        print(k,end=" ")
        k+=1
    print(" ")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [209]:
for i in range(1,6):
    for j in range(i,0,-1):
         print(j,end=" ")
    print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [218]:
for i in range (1,6):
    for j in range (1,i+1,1):
        print (i,end=" ")
        i+=5
    print()

1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

In [222]:
for i in range(1,6):
    print(" "*(5-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [49]:
for i in range(1,6):
   
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [2]:
for i in range (5,0,-1):
    print(" "*(5-i),end=" ")
    for j in range (1,i+1,1):
        print(j,end=" ")
    print("")

 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [3]:
for i in range(1,6):
    print(" "*(5-i),end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(4,0,-1):
    print(" "*(5-i),end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [43]:
#Pattern 18

for i in range(1,6,):
    print(" "*(i-1),end=" ")
    for j in range(i,6,1):
        print(j,end=" ")
    print("")
    
for i in range (5,0,-1):
    print(" "*(i-1),end=" ")
    for j in range (i,6):
        print(j,end=" ")
    print("")

 1 2 3 4 5
  2 3 4 5
   3 4 5
    4 5
     5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

In [46]:
#Pattern 19
for i in range (5,0,-1):
    print(" "*(i-1),end=" ")
    for j in range(i,6):
        print(j,end=" ")
    print()

     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

In [51]:
for i in range(1,6):
    print("  "*(5-i),end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

         1
       1 2 1
     1 2 3 2 1
   1 2 3 4 3 2 1
 1 2 3 4 5 4 3 2 1

In [58]:
for i in range(1,6,):
    for j in range(1,i+1,):
        print(j%2,end=" ")
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [66]:
#22

for i in range(1,6,):
    for j in range(1,6,):
        if (i==j):
            print(i,end=" ")
        else:
            print(0,end=" ")
    print()

1 0 0 0 0
0 2 0 0 0
0 0 3 0 0
0 0 0 4 0
0 0 0 0 5

In [5]:
#23
for i in range (1,6):
    print("1"*(5-i),end="")
    for j in range(1,1+i,1):
        print(i,end="")
    print()

11111
11122
11333
14444
55555

In [9]:
#24
for i in range (0,5):
    for j in range(i+1,6):
        print(j,end=" ")
    
    for k in range(4,i,-1):
         print(k,end=" ")
    print()

1 2 3 4 5 4 3 2 1
2 3 4 5 4 3 2
3 4 5 4 3
4 5 4
5

In [10]:
#25
for i in range(1,6):
    print(" "*(5-i),end=" ")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5

In [15]:
#26
for i in range(5,0,-1):
    for j in range(i,6):
        print(j,end="")
    print("5"*(i-1))

55555
45555
34555
23455
12345